*{
    font-family: Fire Sans, Droid Sans, sans-serif;
}

body{
    margin: 0;
}

.container{
    min-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'head head head'
    'main main sidebar'
    'foot foot foot'
    ;
}